!!!
%head
  %meta{ :charset => 'utf-8' }

  %title Inqlude - The Qt library archive

  %link{ :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" }
  %link{ :rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" }
  = style_sheet
  - if enable_search
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Droid+Sans" }
    %link{ :rel => "stylesheet", :href => "https://www.google.com/cse/style/look/default.css" }

    %link{ :rel => "icon", :type => "image/x-icon", :href => "favicon.ico" }

%body
  .container-fluid.header
    .col-sm-8.left
      .ribbon
        = link_to "Alpha", "about"
      %h1
        %span.logo><
          = link_to "#in", "index"
        %span.logo.green><
          = link_to "q", "index"
        %span.logo><
          = link_to "lude", "index"
      %h2
        %span.subtitle><
          = link_to "The Qt library archive", "index"
    .col-sm-4.right
      - if enable_search
        %gcse:searchbox-only{ resultsUrl: "https://inqlude.org/search.html" }
          Loading...
    %br{ :clear => "all" }

  .col-sm-3.side-bar
    %p{:class => "description"}
      Inqlude provides a comprehensive listing of all existing libraries for developers of applications using the #{link_to "Qt toolkit", "https://qt-project.org"}. Inqlude is run by the community and open for contributions.
    %ul.titles-list
      %li
        = link_to "About", "about"
      %li
        = link_to "How to get libraries", "get"
      %li
        = link_to "How to contribute", "contribute"

    %p{:class => "title"} Latest releases
    %hr
    %ul.side-list
      %li
        - latest_libraries.each do |library|
          - if library.latest_manifest.group == "kde-frameworks"
            = link_to_group('kde-frameworks', 'KDE Frameworks')
          -else
            - if library.latest_manifest.display_name
              = link_to_library(library.latest_manifest.name, library.latest_manifest.display_name)
            - else
              = link_to_library(library.latest_manifest.name, library.latest_manifest.name)
          %date
            = '(' + library.latest_manifest.release_date + ')'
          %br

    %p{:class => "title"} Topics
    %hr
    %ul.side-list
      %li
        = link_to "All", "all"
        %number
          = ' (' + libraries.length.to_s + ')'
      %li
        - topics.each do |topic|
          = link_to_topic(topic)
          %number
            = ' (' + no_of_libraries(topic).to_s + ')'
          %br

  .col-sm-9.main-pane
    = yank

  %br{ :clear => "all" }

  %hr

  .col-sm-12.footer
    = add_footer

    - if enable_search
      :javascript
        (function() {
          var cx = '012526638842992167133:g7thmrlp2uw';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();

  %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" }

  <!-- Piwik -->
  :javascript
    var _paq = _paq || [];
    // tracker methods like "setCustomDimension" should be called before "trackPageView"
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.kde.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  <!-- End Piwik Code -->
